@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Roboto+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(226, 214, 214);
}
a {
  text-decoration: none;
  color: whitesmoke;
}
ul {
  list-style: none;
}
li {
  padding: 0.75rem;
}
.container {
  margin: auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upper-bar {
  height: 40px;
  padding: 10px 0px;
  font-size: 14px;
  width: 100%;
  background: #fff;
  font-family: "Roboto Mono", monospace;
}
.upper-bar i {
  font-size: 20px;
  margin-right: 10px;
  color: #333;
}

.nav-content {
  background-color: #333;
  padding: 10px 0 15px 0;
}

.logo {
  font-family: "Anton", sans-serif;
  font-size: 34px;
  color: darkorange;
  letter-spacing: 6px;
}

.logo:hover {
  color: #fff;
  transition: 0.8s;
}

.nav li a {
  font-family: "Lobster", cursive;
  letter-spacing: 1px;
}

.nav li a:hover {
  border-bottom: 3px solid #ee24b1;
  transition: 0.2s;
}

.nav li:last-child {
  padding-right: 0;
}

@media (max-width: 650px) {
  .container .nav {
    flex-direction: column;
  }

  .nav .logo {
    margin-bottom: 10px;
  }

  .container .nav li {
    padding: 0.25rem 0.45rem;
  }
}

@media (max-width: 540px) {
  .upper-bar {
    height: 70px;
  }

  .upper-bar .container {
    flex-direction: column;
  }

  .upper-bar .container div:first-child {
    margin-bottom: 4px;
  }
}
